<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список учеников</title>
</head>
<body>
  <div>
    <form method="post">
      <input type="text" name="text" placeholder="Введите имя">
      <input type="text" name="tag" placeholder="Тэг">
      <button type="submit">Добавить</button>
    </form>
  </div>
  <div>Список учеников</div>
  <label>ИМЯ СТУДЕНТА</label>
  <!--{{#student}}-->
  <div>
    <b>НИКИТА</b>
    <span>CHEKESH</span>
    <!--<b>{{id}}</b>-->
    <!--<span>{{fullName}}</span>-->
  </div>
  <label>ИМЯ СТУДЕНТА</label>
  <!--{{/student}}-->
</body>
</html>
